.app {
  position: fixed;
  background: #fafafa;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.container {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

footer {
  bottom: 0;
  background-color: #3fb195;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 8px;
}
